name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test-disabling-macros:
    name: Tests 2.8.5 - windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
      - uses: hrishikesh-kadam/setup-lcov@6c1aa0cc9e1c02f9f58f01ac599f1064ccc83470 # v1.1.0
      - uses: software-mansion/setup-scarb@f6ad35129872f897bdea556c09e11af8fb3293c0 # v1.5.1
      - uses: foundry-rs/setup-snfoundry@ee00ea3f026379008ca40a54448d4059233d06cc # v4.0.0
      - run: cargo test --release --features allows-excluding-macros

  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [2.8.5, 2.9.1, 2.10.1, 2.11.3]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
      - uses: hrishikesh-kadam/setup-lcov@6c1aa0cc9e1c02f9f58f01ac599f1064ccc83470 # v1.1.0
      - uses: software-mansion/setup-scarb@f6ad35129872f897bdea556c09e11af8fb3293c0 # v1.5.1
        with:
          scarb-version: ${{ matrix.version }}
      - uses: foundry-rs/setup-snfoundry@ee00ea3f026379008ca40a54448d4059233d06cc # v4.0.0
      - run: cargo test --features allows-excluding-macros allows-including-test-functions
        if: matrix.version == '2.8.5'
      - run: cargo test --release
        if: matrix.version == '2.9.1' || matrix.version == '2.10.1'
      - run: cargo test --features allows-excluding-macros
        if: matrix.version == '2.11.0'

  rustfmt:
    name: Check rust formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
      - run: cargo fmt --check

  scarbfmt:
    name: Check cairo formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: software-mansion/setup-scarb@f6ad35129872f897bdea556c09e11af8fb3293c0 # v1.5.1
      - run: |
          output=$(find . -type f -name "Scarb.toml" -execdir sh -c '
              echo "Running \"scarb fmt\" in directory: $PWD"
              scarb fmt --check
          ' \;)
          echo "$output"
          if grep -iq "Diff" <<< "$output"; then
              exit 1
          fi
          exit 0

  clippy:
    name: Check linter
    runs-on: ubuntu-latest
    env:
      # Make sure CI fails on all warnings - including Clippy lints.
      RUSTFLAGS: "-Dwarnings"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
      - run: cargo lint

  typos:
    name: Check typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: typos-action
        uses: crate-ci/typos@0f0ccba9ed1df83948f0c15026e4f5ccfce46109 # v1.32.0
